body {
    margin-top: 60px;
    background-color: black;
}
#form-size {
    border: 1px dashed #d32e3f;
    display: flex;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #d32e3f;
}
label {
    background-color: #201b3b;
    color: white;
    border-radius: 50px;
    padding: 30px;
}
.inputs {
    margin: 100px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 5px;
    background-color: #201b3b;
    padding: 1%;
}
.slotwrapper {
    background-color: #201b3b;
    overflow: hidden;
    display: inline-block;
    height: 50px;
}
.slotwrapper ul {
    padding: 1px;
    margin: 6px;
    list-style: none;
    position: relative;
    float: left;
    width: 67px;
}
.slotwrapper ul li img {
    height: 60px;
    width: 60px;
    margin: -10px;
}
.panel-body {
    padding: 170px;
    text-align: center;
    background-image: url("../images/z1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
